@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #F7F6F3;
    color: #111110;
  }

  ::selection {
    background-color: #111110;
    color: #F7F6F3;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
